<app-nav></app-nav>
  <section class="bg-light-edit d-flex justify-content-center full-fold">
    <div class="container">
        <div class="row align-items-stretch justify-content-center">
            <div class="col-12 col-lg-7 d-flex flex-column align-items-start ">
                <h1 class="">Learn to code</h1>
                <p class=""><strong>Build projects — for free.</strong> <br/>Learn the technical skills to get the job you want.</p>
            </div>
            <div class="col-lg-5 col-xl-4 offset-xl-1">
                <div class="ic-dynamic-form-container px-4">
                    <h3 class="ic-form-title">Join us!</h3>
                    <app-content-form></app-content-form>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
